<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google font -->
    <link rel="preconnect" href="http://fonts.gstatic.com">  <!-- linkeo de fuentes -->
    <link href="http://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
    <!-- Font awsome -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="http://fontawesome.com/v5.15/icons?d=gallery&p=2&m=free" rel="stylesheet"/>
    <!-- stylesheet -->
    <link rel="stylesheet" href="styles/style.css">
    <title>Mercado Liebre</title>
</head>
<body>

    <header>

        <div class="logo"><img width="100%" src="images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre"></div>
        <div class="ml-15 search-bar">
            <input type="search" placeholder="Buscar productos, marcas">
        </div>
        <button class="ml-15">
            <i class="fas fa-search"></i>
        </button>
              
        <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </nav>
            <ul id="top-list">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="">Creá tu cuenta<i class="fas fa-id-card"></i></a></li>
                <li><a href="">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        <nav>
            
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        
    </header>
    <div class="banner">
        <img width="100%"src="/images/img-home-banner.jpg" alt="">
    </div>
    <main>

        <!-- INICIA SECCION BASADO EN TU ULTIMA VISITA -->
        
        <section>
            <h4>Basado en tu última visita</h4>
            <article class="card">
                <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p>$6.770</p>
                    <p>40% off</p>
                    <h6>Cafetera Moulinex</h6>
                </div>
            </article>
            <article class="card">
                <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p>$230.000</p>
                    <p>20% off</p>
                    <h5>MacBook Pro 2019</h5>
                <div>
                   
            </article>
            <article class="card">
                <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p>$70.500</p>
                    <p>10% off</p>
                    <h5>Samsung Galaxy S10</h5>
                </div>
            </article>
            <article class="card">
                <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p>$23.200</p>
                    <p>5% off</p>
                    <h5>SmartTv Samsung 43"</h5>
                </div>
            </article>
        </section>
        
        <!-- INICIA SECCION DE OFERTAS -->
        
        <section>
            <h5>Sección de Ofertas</h5>
            <article class="card">
                <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p>$6.770</p>
                    <p>40% off</p>
                    <h6>Cafetera Moulinex</h6>
                </div>
            </article>
            <article class="card">
                <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p>$230.000</p>
                    <p>20% off</p>
                    <h5>MacBook Pro 2019</h5>
                <div>
                   
            </article>
            <article class="card">
                <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p>$70.500</p>
                    <p>10% off</p>
                    <h5>Samsung Galaxy S10</h5>
                </div>
            </article>
            <article class="card">
                <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p>$23.200</p>
                    <p>5% off</p>
                    <h5>SmartTv Samsung 43"</h5>
                </div>
            </article>
        </section>
        
    </main>
    <footer>
        <section>
            <article>
                <div class="icon-footer">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h5>Pagá con tarjeta o en efectivo</h5>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <div class="icon-footer">
                    <i class="fas fa-gift"></i>
                </div>
                <h5>Envío gratis desde $ 2.500</h5>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <div class="icon-footer">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h5>Seguridad, de principio a fin</h5>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
            <article>
                <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        </section>
    </footer>
</body>
</html>